---
// component inports
import Mainlayout from "../../layouts/mainLayout.astro";
import PostCard from "../../components/PostCard.astro";

const allPosts = await Astro.glob("./*.md");
---

<Mainlayout title='Blog Page' description='This the Blog page'>
  <section class='container' aria-label='New Blog Posts'>
    <div class='post-container'>
      {
        allPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType='h2'
          />
        ))
      }
    </div>
  </section>
  <!-- <PostCard frontmatter={allPosts[0].frontmatter} url={allPosts[0].url} tagType="h2" /> -->
</Mainlayout>
