---
// component inports
import Mainlayout from "../layouts/mainlayout.astro";

const pageTitle="About page"
---
<Mainlayout title="About Page" description="This the ABOUT page">
  <h1>This is the About page</h1>
</Mainlayout>