---
// component inports
import Mainlayout from "../layouts/mainlayout.astro";

const pageTitle="Home page"
---
<Mainlayout title="Home Page" description="This the home page">
  <h1>This is the home page</h1>
</Mainlayout>