---

---

<footer>
    <small>Copyright &copy; <span id="copyright"></span> | All rights reserverd</small>
</footer>
<script>
    const currentYear = new Date().getFullYear();
    document.querySelector("#copyright").innerText = currentYear;
</script>